<h1>Meetups</h1>
<ul id="meetups">
  <%@meetups.each do |meetup|%>
  <li>
    <a href="/meetups/<%= meetup.id%>"><%= meetup.name %></a>
  </li>
  <%end%>
</ul>
<a href="/meetups/new">Post a new meetup</a>
